@page
@model CoogMusic.Pages.Report.IndexModel
@{
    ViewData["Title"] = "Report";
}


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Artist"))
        {
<div>
    <h1 class="text-center">Artist Reports</h1>



    <form class="form-container">

        <div class="text-center">
            <a class="btn btn-primary btn-action" href="/Report/Listener-Report">Listeners</a>
            <br />
            <br />
            <a class="btn btn-primary btn-action" href="/Report/Ratings-Report">Ratings</a>

            <br />
            <br />

            <a class="btn btn-primary btn-action" href="/Report/Mostplayed-Report">Most Played</a>
        </div>


    </form>

</div>
}
}