@page
@model CoogMusic.Pages.Report.IndexModel
@{
    ViewData["Title"] = "Report";
}

@*
Contains a way for the User (Listner and Artist) to create reports (profile) 
Artist Report: View ratings of Artist (themselves) || List of each of song w/ ratings
Listener Report: Hours of music streamed || Top 3 songs and Top 3 artists
*@
<div>
    <h1 class="text-center">Artist Reports</h1>

    <form class="form-container">
        <div>
        <label for="song-name">Song name:</label>
        @*<input type="text" id="song-name" name="song-name">*@
        <select id="song" name="SongId" required class="form-input" value="">
            <option value="">Choose a Song</option>
            @foreach (var item in Model.listSongs)
                {
                    if (item.deleted != true)
                    {
                        <option value="@item.songId" selected>@item.title</option>
                    }
                }
        </select>
        </div>
            <hr>

            <label for="album-name">Album name:</label>
            <input type="text" id="album-name" name="album-name">


            <hr>

            <button type="submit" id="submit-btn">Submit</button>
    </form>

    <h1 class="text-center">Total Reports</h1>

    <div class="text-center">
        <a class="btn btn-primary btn-action" href="/Report/Listener-Report">Listeners</a>
        <a class="btn btn-primary btn-action" href="/Report/Mostplayed-Report">Most PLayed</a>
        <a class="btn btn-primary btn-action" href="/Report/Ratings-Report">Ratings</a>
    </div>

</div>