@page
@model CoogMusic.Pages.Report.Listener_ReportModel
@{
    ViewData["Title"] = "Report";
}
<div>
    <h1 class="text-center">Listeners Report</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Song Name</th>
                <th class="table-header">Total time played</th>
            </tr>
        </thead>

    </table>

</div>
