@page
@model CoogMusic.Pages.Report.Mostplayed_ReportModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@Model.ReportTitle</h1>

    <div>@Html.Raw(Model.ReportHtml)</div>

    <script src="_framework/blazor.webassembly.js"></script>
    <script src="_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
