@page
@model CoogMusic.Pages.Report.Mostplayed_ReportModel
@{
    ViewData["Title"] = "Report";
}
<div>
    <h1 class="text-center">Most Played Report</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Song Name</th>
                <th class="table-header">Times Played</th>
            </tr>
        </thead>

    </table>

</div>
