@page
@model CoogMusic.Pages.Report.Ratings_ReportModel
@{
    ViewData["Title"] = "Report";
}
<div>
    <h1 class="text-center">Ratings Report</h1>

    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Album Name</th>
                <th class="table-header">Ratings</th>
            </tr>
        </thead>

    <</table>

    <table class="table">
        <thead>
            <tr>
                <th class="table-header">Song Name</th>
                <th class="table-header">Ratings</th>
            </tr>
        </thead>
    </table>

</div>
