@page
@using CoogMusic.Pages;

@model CoogMusic.Pages.Report.Ratings_ReportModel
@{
    ViewData["Title"] = "Report";
}

<div>
    <h1 class="text-center">Ratings Report</h1>
    <form method="post">
        <select asp-for="SelectedAlbumId" asp-items="@(new SelectList(Model.Albums, "Id", "Title"))">
            <option value="">-- Select an album --</option>
        </select>
        <button type="submit" asp-page-handler="GenerateReport">Generate Report</button>
    </form>


    @if (Model.ReportHtml != null)
    {
    <div class="mt-3">
        <h3 class="text-center mb-3">Rating Report for Album @Model.SelectedAlbumTitle</h3>
        @Html.Raw(Model.ReportHtml)
    </div>
    }
</div>
