@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<title>CoogMusic - University of Houston</title>
<div class="text-center">
    <h1 class="display-4">Welcome to CoogMusic</h1>
    <style>
        /* Add the provided styles here */
    </style>
    <header>
        <p>Discover music from talented students at the University of Houston.</p>
    </header>

    <main>
        <section>
            <h2 class="title">Latest Songs</h2>
            <table class="table">
                <tr>
                    <th class="table-header">Title</th>
                    <th class="table-header">Artist</th>
                    <th class="table-header">Genre</th>
                    <th class="table-header">Play</th>
                </tr>
                @*@foreach (var song in Model.Songs)
                {
                    <tr>
                        <td>@song.Title</td>
                        <td>@song.Artist</td>
                        <td>@song.Genre</td>
                        <td>
                            <a href="/song/@song.Id" class="btn btn-primary btn-action">View</a>
                            <a href="/song/@song.Id/delete" class="btn btn-danger btn-action">Delete</a>
                    Have a play button here instead!!
                        </td>
                    </tr>
                }*@
            </table>
        </section>
    </main>
</div>
