@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<title>CoogMusic - University of Houston</title>
<link rel="stylesheet" href="/css/home.css">

<div class="text-center">
    <h1 class="display-4">Welcome to CoogMusic</h1>
    <style>
        /* Add the provided styles here */

    </style>
    <header>
        <p>Discover music from talented students at the University of Houston.</p>
        
    </header>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Check if the user is authenticated
        var isAuthenticated = document.body.getAttribute('data-is-authenticated') === 'True';
        if (!isAuthenticated) {
            window.location.href = '/Accounts/LoginTwo';
        }
    });
</script>
